<h3>{{ 'louvre.backendbundle.email.titre'|trans }}</h3>

<img src="{{logo}}" class="img-responsive center-block" alt="Responsive image">

<p>{{ 'louvre.backendbundle.email.intro'|trans }}</p>

<p>
    {{ 'louvre.backendbundle.recap.titre'|trans }} :<br />
    {{ 'louvre.backendbundle.recap.datevisite'|trans }} <strong>{{ order.visitDate|date("d/m/Y") }}</strong> <br />
    {{ 'louvre.backendbundle.confirmation.numerocommande'|trans }} <strong>{{ order.orderId }}</strong>
</p>

{% for ticket in order.tickets %}
    <h3> {{ 'louvre.backendbundle.billets.numero'|trans }}{{ loop.index }}</h3>
    <ul>
        <li>{{ 'louvre.backendbundle.recap.nom'|trans }} : {{ ticket.name }}</li>
        <li>{{ 'louvre.backendbundle.recap.prenom'|trans }} : {{ ticket.forename }}</li>
        <li>{{ 'louvre.backendbundle.recap.datenaissance'|trans }} : {{ ticket.birthDate|date("d/m/Y") }}</li>
        <li>{{ 'louvre.backendbundle.recap.prixbillet'|trans }}t : <strong>{{ ticket.price }}€</strong></li>

    </ul>
    {% if ticket.reduced %}
        <em>{{ 'louvre.backendbundle.recap.reduit'|trans }}</em>
    {% endif %}
{% endfor %}

<p>{{ 'louvre.backendbundle.email.conclusion'|trans }}</p>