{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
Billetterie
{% endblock %}

{% block header %}
    <h2>Billetterie du musée</h2>
{% endblock %}

{% block body %}
    <p>
        Cet espace est réservé à l'achat de billets. Pour toute commande supérieure à 10 billets, veuillez passer par le formulaire de contact.
        <a class="btn btn-info btn-sm" href= {{ path('contact') }}>Contact</a>
    </p>
    <h3>Tarifs du musée pour l'année 2018</h3>
    <div class="well">
        <div class="part">
            <div class="row">
                <div class="table-responsive-sm">
                    <br/>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Enfant</th>
                            <th scope="col">Normal</th>
                            <th scope="col">Sénior</th>
                            <th scope="col">Réduit</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td scope="row">8€</td>
                            <td>16€</td>
                            <td>12€</td>
                            <td>10€</td>
                        </tr>
                        <tr>
                            <td scope="row">De 4 ans à 12 ans <em><br/>L’entrée est gratuite pour les enfants de moins de 4 ans</em></td>
                            <td>De 12 à 60 ans</td>
                            <td>60 ans et plus</td>
                            <td>Un justificatif sera demandé à toute personne ayant réservé un billet à tarif réduit. <br/><em>(étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</em></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

<h2>Informations concernant la commande :</h2>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.visitDate) }}

    {{ form_row(form.halfDay) }}
    <div>
        {% for message in app.session.flashbag.get('erreur') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    {{ form_row(form.mail) }}

    {{ form_row(form.nbTickets) }}

    <input type="submit" class="btn btn-primary" value="Valider la commande" />

    {{ form_end(form) }}
</div>

    <a href={{ path("index") }}>Retour sur la homepage</a><br />

{% endblock %}