{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
Billetterie
{% endblock %}

{% block header %}
    <h2>Billetterie du musée</h2>
{% endblock %}

{% block body %}
    <p>
        Cet espace est réservé à l'achat de billets. Pour toute commande supérieure à 10 billets, veuillez passer par le formulaire de contact.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href= {{ path('louvre_backend_contact') }}>
            Contact
        </a>
    </p>

<h2>Informations concernant la commande :</h2>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.visitDate) }}

    {{ form_row(form.halfDay) }}

    {{ form_row(form.mail) }}

    <div class="form-group">

        {{ form_row(form.tickets) }}<br />
        <a href="#" id="add_ticket" class="btn btn-default">Ajouter un billet</a>

    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>

    <a href={{ path("louvre_backend_homepage") }}>Retour sur la homepage</a><br />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            var $container = $('div#louvre_backendbundle_command_order_tickets')

            var index = $container.find(':input').length;

            $('#add_ticket').click(function(e){
                addTicket($container);

                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addTicket($container);
            } else {

                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addTicket($container) {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Billet n°' + (index+1))
                    .replace(/__name__/g,       index)
                    ;

                var $prototype = $(template);

                addDeleteLink($prototype)
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer billet</a>');

                $prototype.append($deleteLink);

                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>

{% endblock %}