<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bienvenue sur le site du musée du Louvre{% endblock %}</title>
    {% block stylesheets %}
        {# CSS BOOTSTRAP #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    <style type="text/css">

        p
        {
            text-align: justify;
        }

        /*div.desc {*/
            /*padding: 15px;*/
            /*text-align: center;*/
        /*}*/

        * {
            box-sizing: border-box;
        }

        div.jumbotron {
            background-color: #3F729B;
            margin-top: 10px;
            margin-bottom: -6px;
        }

        /*.top-buffer {*/
            /*margin-top:10px;*/
        /*}*/


        .img-fluid {
            max-width: 80%;
        }

        .row-top {
            padding-bottom: 10px;
        }




    </style>

<div class="container">
    <div id="header" class="jumbotron">
        <div class="row">
            <div class="pull-left">
            <img src="{{ asset('images/Louvre-LOGO.png') }}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="btn-group pull-right">
                <a class="btn btn-info btn-sm" style="font-weight: bold" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                <a class="btn btn-info btn-sm" style="font-weight: bold" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
            </div>
        </div>
        <hr>
        <div class="row-top">
            <a class="btn btn-info btn-md head pull-left" style="font-weight: bold" href={{ path("index") }}>{{ 'louvre.backendbundle.layout.accueil'|trans }}</a>
                <div class="btn-group pull-right">
            <a class="btn btn-info btn-md head" style="font-weight: bold" href={{ path("commande") }}>{{ 'louvre.backendbundle.layout.billetterie'|trans }}</a>
            <a class="btn btn-info btn-md head" style="font-weight: bold" href={{ path("contact") }}>{{ 'louvre.backendbundle.layout.contact'|trans }}</a>
                </div>
        </div>
    </div>
</div>
        {% block header %}

        {% endblock %}

</head>

<body>
    <div class="container" id="content">
        {% block body %}
        {% endblock %}

    </div>
</body>
</html>

