<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bienvenue sur le site du musée du Louvre{% endblock %}</title>
    {% block stylesheets %}
        {# CSS BOOTSTRAP #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    <style type="text/css">

        p
        {
            text-align: justify;
        }

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }
        

        div.desc {
            padding: 15px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        div.jumbotron {
            background-color: #3F729B;
            margin-top: 10px;
            margin-bottom: -6px;
        }

        .top-buffer {
            margin-top:10px;
        }

        div.float-left {
            margin-left: -50px;
            margin-top: -20px;
        }

        .img-fluid {
            max-width: 50%;
        }

        .row-top {
            padding-bottom: 10px;
        }




    </style>

<div class="container">
    <div id="header" class="jumbotron">
        <div class="float-left">
        <img src="{{ asset('images/Louvre-LOGO.png') }}" class="img-fluid" alt="Responsive image">
        </div>
        <hr>
        <div class="row-top">
            <a class="btn btn-info btn-md head pull-left" style="font-weight: bold" href={{ path("index") }}>Accueil</a>
                <div class="btn-group pull-right">
            <a class="btn btn-info btn-md head" style="font-weight: bold" href={{ path("commande") }}>Billetterie</a>
            <a class="btn btn-info btn-md head" style="font-weight: bold" href={{ path("contact") }}>Contact</a>
                </div>
        </div>
    </div>
</div>
        {% block header %}

        {% endblock %}
    </div>
</div>
</head>

<body>
    <div class="container" id="content">
        {% block body %}
        {% endblock %}

    </div>
</body>
</html>

