{% extends "layout.html.twig" %}

{% block title %}
    Billetterie
{% endblock %}

{% block body %}
    <h2 align="center"><span class="glyphicon glyphicon-info-sign" style="font-size:25px; color:#33b5e5"></span> Informations concernant les billets</h2>
    <div class="well">
        <p>
            <ul>
                <li>Ceux-ci sont nominatifs, veuillez à bien renseigner les champs "Nom" et "Prénom".</li>
                <li>Le tarif réduit ne s'applique que dans certaines conditions.</li>
                <li><strong>L'entrée au musée pourra être refusé à quiconque ne présentant pas les documents requis.</strong></li>
            </ul>
        </p>
    </div>
<h3><span class="glyphicon glyphicon-tasks" style="font-size:25px; color:#33b5e5"></span> Informations relatives à la commande</h3>

    <div class="well">
        {{ form_start(form) }}

        {% for ticket in form.tickets %}
            <h3><span class="glyphicon glyphicon-user" style="font-size:25px; color:#33b5e5"></span> Billet {{ loop.index }}</h3>
            {{ form_row(ticket) }}

        {% endfor %}
            <div class="row" style="margin-right:-3px;margin-left:-3px">
                <div class="pull-left">J'ai lu et j'accepte les <a href={{ path("cgv") }}> conditions générales de ventes</a>  <input type="checkbox" name="cgv" required></div>
                <div class="pull-right"><input type="submit" class="btn btn-info" value="Valider" /></div>
            </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
