{% extends "layout.html.twig" %}

{% block title %}
Billetterie
{% endblock %}

{% block header %}
    <h1 style="text-align: center">{{ 'louvre.backendbundle.commande.titre'|trans }}</h1>
{% endblock %}

{% block body %}
    <p>
        <span class="glyphicon glyphicon-bullhorn" style="font-size:20px; color:#33b5e5"></span> {{ 'louvre.backendbundle.commande.info'|trans }}
    </p>
    <h3><span class="glyphicon glyphicon-info-sign" style="font-size:25px; color:#33b5e5"></span> {{ 'louvre.backendbundle.commande.tarifs'|trans }}</h3>
    <div class="well">
                <div class="table-responsive-sm">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'louvre.backendbundle.commande.enfant'|trans }}</th>
                            <th scope="col">{{ 'louvre.backendbundle.commande.normal'|trans }}</th>
                            <th scope="col">{{ 'louvre.backendbundle.commande.senior'|trans }}</th>
                            <th scope="col">{{ 'louvre.backendbundle.commande.reduit'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td scope="row">8€</td>
                            <td>16€</td>
                            <td>12€</td>
                            <td>10€</td>
                        </tr>
                        <tr>
                            <td scope="row">{{ 'louvre.backendbundle.commande.ageenfant'|trans }}<em><br/>{{ 'louvre.backendbundle.commande.ageenfantsuite'|trans }}</em></td>
                            <td>{{ 'louvre.backendbundle.commande.ageadulte'|trans }}</td>
                            <td>{{ 'louvre.backendbundle.commande.agesenior'|trans }}</td>
                            <td>{{ 'louvre.backendbundle.commande.tarifreduit'|trans }}<br/><em>{{ 'louvre.backendbundle.commande.tarifreduitsuite'|trans }}</em></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
    </div>

<h3><span class="glyphicon glyphicon-tasks" style="font-size:25px; color:#33b5e5"></span> {{ 'louvre.backendbundle.commande.infocommande'|trans }}</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.visitDate) }}

    {{ form_row(form.halfDay) }}
    <div>
        {% for message in app.session.flashbag.get('erreur') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    {{ form_row(form.mail) }}

    {{ form_row(form.nbTickets) }}
    <div class="row">
        <div class="pull-right">
    <input type="submit" class="btn btn-info" value={{ 'louvre.backendbundle.commande.validercommande'|trans }} />
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}