{% extends "layout.html.twig" %}

{% block title %}
    Réservation confirmée
{% endblock %}

{% block header %}
    <h2 style="text-align: center"><span class="glyphicon glyphicon-ok-sign" style="font-size:25px; color:#33b5e5"></span>{{ 'louvre.backendbundle.confirmation.introduction'|trans }}</h2>
{% endblock %}

{% block body %}
    <div class="well">
        <h3>{{ 'louvre.backendbundle.confirmation.numerocommande'|trans }} : {{ order.orderId }}</h3>
        <p>{{ 'louvre.backendbundle.confirmation.recap1'|trans }} <strong>{{ order.price }}€ </strong>{{ 'louvre.backendbundle.confirmation.recap2'|trans }} : <strong>{{ order.mail }}</strong></p>
        <p><em>{{ 'louvre.backendbundle.confirmation.recap3'|trans }}</em></p>
    </div>
{% endblock %}
